@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&display=swap");

:root {
  /* GRADIENT */
  --blue-top: #034e68;
  --black-down: #040612;
  /* TEXT  */
  --H1-color: #071533;
  --contact: #17295a;
  /* BUTTON */
  --button: #132557;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* scroll-behavior: smooth; */
}

body {
    background-color: black;
    /* font-size: 1.8rem; */
}

main {
    font-family: 'Golos Text', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

 .card {
    background-color: white;
    text-align: center;
    border-radius: 2rem;
    width: 410px;
    position: relative;
}


.gradient-top {
    border-radius: 2rem 2rem 0 0;
    height: 14rem;
    background: linear-gradient(to bottom, var(--blue-top), var(--black-down));
    margin-bottom: 6rem;
}

header {
    margin-bottom: 5rem;
}

header img {
    height: 11rem;
    border-radius: 50%;
    /* width: 12rem; */
    border: 2px solid #fff;
    position: absolute;
    top: 9rem;
    left: calc(50% - 2.5rem - 26.5px);
}

header h1 {
    text-transform: uppercase;
    color: var(--H1-color);
}

header p {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: -0.9px;
}

section {
    padding: 0 0.5rem 0 0.5rem;
    font-size: 1.4rem;
    margin-bottom: 6rem;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

li {
    list-style: none;
    font-size: 1.4rem;
    margin-bottom: .5rem;
    letter-spacing: -.5px;
    font-weight: 500;
}

i {
    color: #16204B;
    margin-right: .3rem;
}

footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem .7rem;
}

footer button {
    font-family: 'Golos Text', sans-serif;
    background-color: var(--button);
    text-align: center;
    padding: .9rem .5rem .9rem .5rem;
    border: 0;
    font-size: 1.5rem;
    border-radius: 1rem;
    color: white;
}

.bounce-button {
    animation: bounce 1s infinite;
  }

.contact {
    color: white;
    margin-left: .5rem;
}
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }

  footer a {
        color: var(--button);
        font-size: 1.2rem;
  }

  @media (max-width:375px) {
    footer {
        gap: 0.5rem;
    }

    section {
        padding: 0;
    }

    .contact {
      display: none;
    }

    footer button {
      font-size: 1.3rem;
    }
  }