@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&display=swap");

:root {
  /* GRADIENT */
  --blue-top: #034e68;
  --black-down: #040612;
  /* TEXT  */
  --H1-color: #071533;
  --contact: #17295a;
  /* BUTTON */
  --button: #132557;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* scroll-behavior: smooth; */
}

body {
    background-color: black;
    /* font-size: 1.8rem; */
}

main {
    font-family: 'Golos Text', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

 .card {
    background-color: white;
    text-align: center;
    border-radius: 2rem;
    width: 400px;
    position: relative;
}


.gradient-top {
    border-radius: 2rem 2rem 0 0;
    height: 14rem;
    background: linear-gradient(to bottom, var(--blue-top), var(--black-down));
    margin-bottom: 6rem;
}

header {
    margin-bottom: 5rem;
}

header img {
    height: 11rem;
    border-radius: 50%;
    /* width: 12rem; */
    border: 2px solid #fff;
    position: absolute;
    top: 9rem;
    left: 13.5rem;
}

header h1 {
    text-transform: uppercase;
    color: var(--H1-color);
}

header p {
    text-transform: uppercase;
    font-size: 1.8rem;
}

section {
    font-size: 1.4rem;
    margin-bottom: 6rem;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

li {
    list-style: none;
}

ul::before {
    list-style-image: url(Images/play-solid.svg);
    width: 3rem;
    height: 3rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

footer button {
    font-family: 'Golos Text', sans-serif;
    background-color: var(--button);
    padding: .5rem;
    border: 0;
    border-radius: 1rem;
    color: white;
}

.bounce-button {
    animation: bounce 1s infinite;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }